
     <!-- Navigation --> 
    <nav ng-app="layoutModule" ng-controller="LayoutController as vm">
        <div class="container-fluid">
                
            <div class="navbar navbar-inverse">
                <span class="sr-only">Navigation</span>
                
                <div class="navbar-header">
                    <!-- Responsive - Collapsible Navigation Button -->
                    <button id="btn_Main" type="button" class="navbar-toggle btn btn-navbar pull-right collapsed" 
                        data-target="#nav_Main" data-toggle="collapse"
                        aria-expanded="false" aria-controls="nav_Main">
                        <span class="sr-only">Toggle Main Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- // End Collapsible Navigation Button--> 
                    
                    <h1><a class="navbar-brand" href="index.html" title="Return to Main page">Hello<strong>Hero</strong></a></h1>
                </div>
                
                <!-- Responsive - Collapsible Navigation -->
                <div id="nav_Main" class="nav-collapse collapse pull-right">
                    <ul class="nav nav-pills nav-lvl1">
                        <li>
                            <a href="#">Product</a>
                        </li>
                        
                        <li>
                            <a href="#">Pricing</a>
                        </li>
                        
                        <li>
                            <a href="#" ng-click="vm.showLoginForm()">Join for Free</a>
                        </li>
                        <li>
                            <a href="#" ng-click="vm.showLoginForm()" class="btn btn-default">Log In</a>
                        </li>
                    </ul>
                </div>
                <!-- // End Collapsible Navigation -->
            </div>
            
        </div>
    </nav>
    <!-- // End Navigation -->
