@charset "UTF-8";
/* Styles

--------------------------------------------------
Font Family: 'Source+Sans+Pro', sans-serif;
Font Weight: 400,200,200italic,300italic,300,400italic,600,700,600italic,700italic,900,900italic
Primary Color: Blue, #205493, rgb(32,84,147)
Secondary Color: Light Blue, #0071bc, rgb(0,113,188)
Highlight Color: Gold, #fdb81e, rgb(253,184,30)
Secondary Highlight: Light Gold, #f9c642, rgb(249,198,66)
Muted Color: Gray, #aeb0b5, rgb(174,176,181)
-------------------------------------------------- */



/* Stylesheet Structure
-------------------------------------------------- 
1. BODY
	1A. Font Styles

2. NAVIGATION
	2A. Top Navigation
	2B. Logo in Navigation
	2C. Navigation within Site, Pages for Users

3. CONTENT
	3A. Homepage - Header
	3B. Homepage - Content Information
	3C. Interior - Main Content
	3D. Interior - Users' Recognized Posts on Profile Page
	3E. Interior - User Profile ID on Profile Page

4. FOOTER 

5. MISCELLANEOUS
	5A. Forms & Buttons
	5B. Modal Pop Up
	5C. Well
	5D. Tooltip 
	
6. MEDIA QUERIES
	@media screen and (max-width: 1062px)
	@media screen and (max-width: 940px)
	@media screen and (max-width: 768px)
	@media screen and (max-width: 640px)
	@media screen and (max-width: 480px)
	@media screen and (max-width:320px) 

-------------------------------------------------- */



/*-------------------------------------------------- 
	1. BODY
-------------------------------------------------- */
html {
	height: 100%; 
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	background: rgb(255,255,255);
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-size: 15px;
	padding-bottom: 50px;
	position: relative;
	min-height: 100%;
}

p, div {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.4em;
	font-weight: 400;
}

strong {
	font-weight: 700;
}


/* 1A. Font Styles
-------------------------------------------------- */

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	margin-top: 0px;
}

h1, .h1 {
	font-size: 2.5em;
	font-weight: 400;
}

h2, .h2 {
	color: #205493;
	font-size: 1.75em;
	font-weight: 400;
	line-height: 1.4em;
}

h3, .h3 {
	font-size: 1.4em;
	font-weight: 600;
	line-height: 1.4em;
}

h4, .h4 {
	font-weight: 700;
}

a {
	color: rgb(32,84,147);
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: rgb(76,44,146);
}

/*-------------------------------------------------- 
	2. NAVIGATION
-------------------------------------------------- */
.navbar-header {
	position: relative;
} 

/* 2A. Top Navigation
-------------------------------------------------- */
nav {
	background: rgba(0,113,188,1);
	background: -moz-linear-gradient(left, rgba(0,113,188,1) 0%, rgba(32,84,147,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,113,188,1)), color-stop(100%, rgba(32,84,147,1)));
	background: -webkit-linear-gradient(left, rgba(0,113,188,1) 0%, rgba(32,84,147,1) 100%);
	background: -o-linear-gradient(left, rgba(0,113,188,1) 0%, rgba(32,84,147,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,113,188,1) 0%, rgba(32,84,147,1) 100%);
	background: linear-gradient(to right, rgba(0,113,188,1) 0%, rgba(32,84,147,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0071bc', endColorstr='#205493', GradientType=1 );
	
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	
	height: 80px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
}

.navbar.navbar-inverse {
	background: none;
	border: none;
	margin-top: 15px;
}


.nav a {
	color: rgb(255,255,255);
	font-size: 1.2em;
	text-decoration: none;
}

.nav > li > a {
	border: 1px solid rgba(0, 0, 0,0);
	-webkit-border-radius: 4px;
	border-radius: 4px;
	line-height: 1.42857;
	padding: 10px 10px;
	margin: 0px 5px;
}

.nav > li > a.btn-default, 
.nav > li > a:hover, 
.nav > li > a:focus,
.navbar-inverse .navbar-brand:focus, 
.navbar-inverse .navbar-brand:hover {
	background: rgb(250,250,250);
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #205493;
}

.page-user .navbar-inverse .navbar-brand {
	padding: 10px 10px;
	margin: 0px 5px;
	height: auto;
}

.navbar .collapse {
	display: block;
}

/* 2B. Logo in Navigation
-------------------------------------------------- */
.navbar-inverse h1 {
	margin-top: 0px;
}
	
.navbar-inverse .navbar-brand {
	color: rgb(255,255,255);
	text-decoration: none;
	font-size: 1em;
}

	.page-public .navbar-inverse .navbar-brand {
		padding-left: 120px;
	}

	
.navbar-brand:before {
	background: rgba(0, 0, 0, 0) url("../img/logo_hello-hero_sm.png") no-repeat scroll;
	content: "";
	float: left;
	height: 120px;
	left: -5px;
	position: absolute;
	text-indent: -9999px;
	top: -15px;
	width: 120px;
}

	.page-user .navbar-inverse .navbar-brand:before {
		display: none;
	}

/* 2C. Navigation within Site, Pages for Users
-------------------------------------------------- */
.page-user .navbar-header {
    float: none;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 120px;
}

.page-user .navbar.navbar-inverse {
	margin-top: 7px;
}
	
	.page-user .navbar-brand:before {
		position: relative;
	}
	
	.page-user .navbar a {
		font-size: 1em;
	}

.nav .glyphicon {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

/*-------------------------------------------------- 
	3. CONTENT
-------------------------------------------------- */

.container {
	max-width: 980px;
}

main {
	position: relative;
	/*margin-top: 80px;*/
}

/* 3A. Homepage - Header
-------------------------------------------------- */
header {
	background: url("../img/img_superherokid.jpg") no-repeat center left / 100% auto;
	height: 600px;
	position: relative;
	-webkit-transition: 0.3s ease all;
	transition: 0.3s ease all;
}

/*header:before {
    background: rgba(0, 0, 0,0.4) none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}*/

	header .banner-text {
		right: 5%;
		position: absolute;
		top: 35%;
	}
	
	header h2 {	
		color: rgb(32,84,147);
		font-size: 3em;
	}

/* 3B. Homepage - Content Information
-------------------------------------------------- */

.content-info {
	margin: 100px 0px 100px 0px;
	position: relative;
}

	.content-info h3 {
		font-size: 1.5em;
		text-align: center;
	}

/* 3C. Interior - Main Content
-------------------------------------------------- */

section.content-main {
    margin-top: 80px;
	min-height: 500px;
    padding: 40px;
    position: relative;
}


/* 3D. Interior - Users' Recognized Posts on Profile Page
-------------------------------------------------- */
.content-right {
	float: right;
}

.hero-head {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.5em;
}

.hero-type {
    font-size: 2em;
    font-weight: 700;
}

.hero-msg {
    line-height: 1.6em;
    margin-bottom: 15px;
}

.hero-comment textarea.form-control {
    height: 35px;	
}


/* 3E. Interior - User Profile ID on Profile Page
-------------------------------------------------- */

.content-profile {
   -webkit-box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 8px;
    border-radius: 8px;
	margin-bottom: 40px;
}

.profile-head:before {
    background: rgb(255, 255, 255);
    -webkit-border-radius: 16px;
    border-radius: 16px;
    -webkit-box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.15) inset;
    content: "";
    height: 12px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 80px;
}

.profile-head {
    background: rgb(72,164,99);
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
	color: rgb(255,255,255);
    padding: 10px;
    position: relative;
}

.profile-company {
    font-size: 1.5em;
    margin-top: 25px;
    position: relative;
    text-align: center;
}

.content-profile .thumbnail {
	border: 0px;
	padding: 10px;
	margin-bottom: 0px;
}

.profile-body {
	padding: 0px 15px 15px 15px;
}

	.navbar.navbar-inverse .profile-body p {
		margin-bottom: 5px;
	}

	.profile-body .profile-label {
		font-weight: 700;
	}
	
	.profile-body .profile-name {
		font-size: 2em;
		font-weight: 700;
		line-height: 1.6em;
	}
	
	.profile-body .btn {
		margin-top: 10px;
		margin-bottom: 10px;
	}

.content-reminders .media-object {
	width: 50px;
}



/*  3F. Circle Objects
-------------------------------------------------- */
.icn-info, 
.icn-circle {
	background-color: rgb(32,84,147);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
	display: block;
	height: 100px;
	text-align: center;
	width: 100px;
}

.icn-info {
	font-size: 2em; 
	margin: auto;
}

	.icn-info .glyphicon,
	.icn-circle .glyphicon {
		top: 30%;
	}
	
	.icn-number {
		font-size: 2em;
		margin-top: 10px;
		margin-right: 15px;
		padding-top: 3px;
	}
	
	.icn-sm {
		height: 50px;
		width: 50px;
	}


.hero-badge {
	float: left;
	margin: 5px;
	position: relative;
}
	
	.icn-badge {
		border: 8px solid rgba(0,0,0,.1) !important;
		margin-bottom: 30px;
		padding: 0px;
	}
		
		
		.icn-badge img {
			-webkit-border-radius: 50%;
			border-radius: 50%;
			margin-bottom: 10px;
			width: 100%;
		}
		
		.icn-badge .icn-badge-text {
			color: rgb(0,0,0);
			font-weight: 600; 
			margin-top: 10px;
			text-transform: uppercase;
		}

	.hero-badge button:hover {
		border-color: rgb(0,113,188) !important;
		background: rgb(240,240,240);
	}
	
		.hero-badge button:hover .icn-badge-text {
			color: rgb(0,113,188);
		}
		
	.hero-badge button:active,
	.hero-badge button.select {
		border-color: rgb(32,84,147) !important;
		background: rgb(230,230,230);
	}
	
		.hero-badge button:active .icn-badge-text,
		.hero-badge button.select .icn-badge-text {
			color: rgb(32,84,147);
		}
	

/*-------------------------------------------------- 
	4. FOOTER
-------------------------------------------------- */

footer {
	background: rgb(32,84,147);
	color: #fff;
	font-size: 1.2em;
	padding: 20px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
}

	footer a, 
	footer a:visited {
		color: rgb(228,226,224);
	}
	
	footer a:hover {
		color: rgb(228,226,224);
	}

/*-------------------------------------------------- 
	5. MISCELLANEOUS
-------------------------------------------------- */


/* 5A. Forms & Buttons
-------------------------------------------------- */

/* 5Ai. Buttons */

.btn {
	font-weight: 600;
}

	.btn-group-lg > .btn, .btn-lg {
		font-size: 1.2em;
	}

.btn-default, 
.btn-default:active,
.btn-default:focus,
.btn-default:active:focus,
.btn-default:active:hover, 
.btn-default:hover {
	box-shadow: none;
	color: rgb(32,84,147);
	border: 1px solid rgb(32,84,147);
}

.icn-default {
	background: rgb(255,255,255);
	border-color: rgb(32,84,147);
	color: rgb(32,84,147);
}

.btn-default:active,
.btn-default:active:focus,
.btn-default:active:hover, 
.btn-default:focus {
	background: rgb(245,245,245);
}

.btn-default:hover {
	background: rgb(250,250,250);
}

.btn-primary,
.label-primary, 
.icn-primary {
	background: rgb(0,113,188);
}

.btn-primary:active,
a .label-primary:active,
a .icn-primary:active {
	background: rgb(17,46,81);
}

.btn-primary:hover,
a .label-primary:hover,
a .icn-primary:hover {
	background: rgb(32,84,147);
}

.btn-highlight {
	background: rgb(249,198,66);
}

.btn-highlight:active {
	background: rgb(231,160,1);
}

.btn-highlight:hover {
	background: rgb(253,184,30);
}


/* 5Aii */

.form-recognize .well h3 {
    margin-top: 18px;
	font-weight: 700;
}

/* 5B. Modal Pop Up
-------------------------------------------------- */

.modal-open .modal {
	top: 40px;
}

.modal-content {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.modal-header {
	background: rgba(0,113,188,1);
	background: -moz-linear-gradient(left, rgba(0,113,188,1) 0%, rgba(32,84,147,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,113,188,1)), color-stop(100%, rgba(32,84,147,1)));
	background: -webkit-linear-gradient(left, rgba(0,113,188,1) 0%, rgba(32,84,147,1) 100%);
	background: -o-linear-gradient(left, rgba(0,113,188,1) 0%, rgba(32,84,147,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,113,188,1) 0%, rgba(32,84,147,1) 100%);
	background: linear-gradient(to right, rgba(0,113,188,1) 0%, rgba(32,84,147,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0071bc', endColorstr='#205493', GradientType=1 );
}

.modal-title {
	color: rgb(255,255,255);
}

.modal-header .close {
	color: rgb(255,255,255);
	opacity: .5;
	transition: 0.3s ease all;
}

.modal-header .close:hover {
	color: rgb(255,255,255);
	opacity: 1;
}


/* 5C. Well
-------------------------------------------------- */

.well h3 {
	margin-top: 0px;
}


/* 5D. Tooltip 
-------------------------------------------------- */

.tooltip {
	box-shadow: 3px 3px 3px 3px rgba(0,0,0,.15);
}

	.tooltip-inner {
		background: rgb(255,255,255);
		color: rgb(32,84,147);
		font-size: 1.2em; 
	}
	
	
	.tooltip.bottom .tooltip-arrow {
		border-bottom-color: rgb(255,255,255);
	}


/* 5E. Labels
-------------------------------------------------- */
a > .label {
	text-decoration: none;
}

.label-primary {
	background: rgb(32,84,147);
}


/*-------------------------------------------------- 
	6. MEDIA QUERIES
-------------------------------------------------- */


@media screen and (max-width: 1062px) {	

.container {
	max-width: 950px;
}

/* Header
-------------------------------------------------- */

header {
	height: 400px;
}

	header .banner-text {
		right: 5%;
	}
	
	header h2 {
		font-size: 2em;
	}

}


@media screen and (max-width: 940px) {	

/* Header
-------------------------------------------------- */
	
	.nav > li > a {
		margin: 0px;
		padding: 10px;
	}
	
	
	header h2 {	
		font-size: 2em;
	}
}

@media screen and (max-width: 768px) {	

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	margin-top: 20px;
}

/* Navigation
-------------------------------------------------- */
	
	.page-public .navbar.navbar-inverse {
		margin-top: 10px;
	}
	
		.page-public .navbar-inverse .navbar-brand:before {
			background-size: 80px 80px;
			height: 80px;
			top: -15px;
			left: 10px;
			width: 80px;
		}
	
		.page-public .navbar-inverse .navbar-brand {
			color: #fff;
			font-size: 1em;
			padding-left: 80px;
		}

	.page-user .navbar-inverse .nav-pills > li + li {
		position: inherit;
	}
	
		.page-user .navbar-inverse .navbar-brand:before {
			display: block;
		}

		.page-user .navbar-inverse .navbar-brand {
			text-indent: -9999px;
			height: 100px;
			width: 100px;
			left: 0;
			right: 0;
			margin: auto;
			position: absolute;
			padding: 0px;
		}	
	
/* Navigation
-------------------------------------------------- */
.page-user nav {
	height: 80px;
}
	
	nav .container-fluid {
		padding: 0px;
	}
	
.navbar-header {
	margin: 5px 0px 0px;
	padding: 0px 10px 0px 10px;
	position: relative; 
	z-index: 2;
}

.page-public .navbar-header {
	width: 100%;
}
	
	.page-user .navbar a {
		font-size: 1.5em;
		margin: 10px;
		padding: 10px 15px;
	}

		.page-user .navbar a .glyphicon {
			text-indent: none;
		}
	
/* Responsive - Top Navigation - Collapsible */
.navbar #nav_Main {
	background: rgb(255,255,255);
	height: 0;
	overflow: hidden;
	width: 100%; 
}
	
.navbar #nav_Main.nav-collapse {
	margin: 15px 0px;
	position: relative;
	z-index: 1;
}

.navbar #nav_Main.in {
	height: auto;
	overflow: visible;
}
	
	#nav_Main .nav > li {
		border-bottom: 1px solid rgba(0,0,0,.1);
		margin: 0px;
		width: 100%;
	}
	
		#nav_Main .nav > li > a {
			color: rgb(32,84,147);
			height: 52px;
			margin: 0px;
			padding: 12px 15px;
		}
	
		
		#nav_Main .nav > li a:hover {
			-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176) inset;
			-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176) inset;
			filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
			-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176) inset;
			color: rgb(0,54,79);
		}
	
		.nav > li > a.btn-default {
			border: none;
			text-align: left;
		}
		
		.nav-pills > li > a {
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
		}
	
	.navbar-inverse .navbar-toggle.collapsed {
		background: rgb(0,113,188);
	}
	
	.navbar-toggle, 
	.navbar-inverse .navbar-toggle {
		border-color: rgba(17,46,81,.35);
		display: block;
	}
	
	.navbar-inverse .navbar-toggle {
		background: rgb(17,46,81);
	}
	
	.navbar-inverse .navbar-toggle:focus, 
	.navbar-inverse .navbar-toggle:hover {
		background: rgb(32,84,147);
	}
	
	.nav-text {
		display:none;
	}
	
	.navbar-inverse .navbar-brand:focus, 
	.navbar-inverse .navbar-brand:hover {
		background: transparent;
		color: #205493;
	}

/* Header
-------------------------------------------------- */

header {
	height: 400px;
	background-size: 100% auto;
	background-position: right center;
}

	header .banner-text {
		top: 30%;
		right: 20px;
	}
	
	header .banner-text h2 {
		font-size: 1.75em;
	}

/* Content
-------------------------------------------------- */
main {
	margin-top: 80px;
}

.content-info {
	height: auto;
}

	.content-info h3 {
		font-size: 1.2em;
	}
	
	.content-info .icn-info {
		font-size: 1.2em;
		height: 60px;
		width: 60px;
	}


section.content-main {
	margin-top: 20px;
	padding: 0px;
}

.content-right {
	float: none;
}

.page-public .row [class*="col-"] {
	margin-bottom: 30px;
}

}


@media screen and (max-width: 640px) {
section.content-main {
	padding: 10px 0px;
}

header {
	background-size: auto 100%;
}

/* Header
-------------------------------------------------- */

.page-public .navbar-inverse .navbar-brand:before {
    background-size: 60px 60px;
    height: 60px;
    top: -5px;
    width: 60px;
}
	
.page-public .navbar-inverse .navbar-brand {
	padding-left: 60px;
	font-size: .75em;
}

.page-user .navbar-inverse .navbar-brand {
	height: 60px;
	width: 60px;
}

.page-user .navbar-brand:before {
	background-position: -10px 0px;
    background-size: 80px 80px;
    height: 80px;
	left: 0;
	right: 0;
	margin: auto;
    top: -10px;
    width: 80px;
}
	
	.page-user .navbar a {
		font-size: 1em;
		margin: 2px;
		padding: 5px 10px;
	}
	
.page-user nav {
	height: 50px;
}
	
main {
	margin-top: 50px;
}

/* Interior - Posts
-------------------------------------------------- */
.hero-comment textarea.form-control {
	margin-bottom: 10px;
}
}

@media screen and (max-width: 480px) {	

/* Homepage - Content Information
-------------------------------------------------- */
.content-info {
	margin: 40px 20px;
}

header {
	background-position: center center;
	height: 350px;
}

header .banner-text {
	left: 5%;
	right: auto;
}

header:before {
    background: rgba(0, 0, 0,0.4) none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}

header h2 {
	color: rgb(255,255,255);
}

/* Interior - Posts
-------------------------------------------------- */

.hero-post .thumbnail {
    float: left;
    margin-bottom: 0;
	margin-right: 10px;
    width: 25%;
}


/* Misc
-------------------------------------------------- */
.row [class*="col-"] {
	float: none;
	width: 100%;
}

}

@media screen and (max-width:320px) {
/* Header
-------------------------------------------------- */

.page-user .navbar-inverse .navbar-brand {
	height: 50px;
	width: 50px;
	padding: 0px;
}

.page-user .navbar-brand:before {
    background-position: -5px -5px;
    background-size: 60px 60px;
    height: 60px;
    padding: 0;
    top: 10px;
    width: 60px;
}
	
	.page-user .navbar a {
		font-size: 1em;
		margin: 4px 2px;
		padding: 5px 8px;
	}


	header h2 {	
		font-size: 2em;
	}

}
