Welcome {{user.username}}! <br>
<div ng-repeat="badges in user.badges">
	{{badges.initiator}} said {{badges.text}} on {{badges.date}}
</div>
<div ng-show="user.badges.length === 0">
	You do not have any badges yet.
</div>
Select a user to give recognition to:
<form name="recognition" ng-submit="submitRecognitionForm()">
	<select name="users" ng-model="receiver">
	  <option ng-repeat="user in users">{{user.username}}</option>
	</select>
		What would you like to say about them?
		<textarea ng-model="recognitionText"></textarea>
	<button type="submit">RECOGNIZE</button>
</form>