<section class="content-main">
    
    	<div class="container">
            <div class="row">
                
                <div class="col-sm-8 content-right">
                	<h2>Hello<strong>Hero</strong>! You've been recognized!</h2>
                    
                    <div class="hero-post">
                        <div class="well">
                            <div class="row">
                                <div class="col-xs-4">
                                    <a href="#" class="thumbnail">
                                      <img src="/assets/images/img_persona_justin.png" alt="Profile image for Justin">
                                    </a>
                                </div>
                                <div class="col-sm-8">
                                    <div class="hero-head">You are Justin's Hero</div>
                                    <div class="hero-type">Brilliant!</div>
                                    <div class="hero-msg">"Excellent work Luis, thank you so much!"</div>
                                    <div class="hero-comment">
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="Leave a comment"></textarea>
                                                <button type="submit" class="btn btn-primary">Comment</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="hero-post">
                        <div class="well">
                            <div class="row">
                                <div class="col-xs-4">
                                    <a href="#" class="thumbnail">
                                      <img src="/assets/images/img_persona_jessie.png" alt="Profile image for Justin">
                                    </a>
                                </div>
                                <div class="col-sm-8">
                                    <div class="hero-head">You are Jessie's Hero</div>
                                    <div class="hero-type">Innovative!</div>
                                    <div class="hero-msg">"Great ideas Dan!"</div>
                                    <div class="hero-comment">
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="Leave a comment"></textarea>
                                                <button type="submit" class="btn btn-primary">Comment</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="hero-stats">
                    
                        <div class="well">
                        	<h3><strong>Your Hero Stats this week:</strong> August 7 - 13, 2016</h3>
                            <div class="row">
                            <img class="col-xs-12" src="/assets/images/img_stat.png" title="Hero stats for the week." alt="Hero stats for the week." >
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            	<div class="col-sm-4 col-xs-6">
                    <div class="content-profile">   
                    	<div class="profile-head">
                        	<div class="profile-company">
                            	Milan Inc.
                            </div>
                        </div>                 
                        <div class="thumbnail">
                          <img src="/assets/images/img_persona_luis.png" alt="Profile image for Justin">
                        </div>
                        <div class="profile-body">
                        	<div class="profile-name">Luis Medina</div>
                            <p>
                                <span class="profile-label">Hero Level:</span>
                                <span class="profile-desc">Do-Gooder</span>
                            </p>
                            <p>
                                <span class="profile-label">Position:</span>
                                <span class="profile-desc">Senior Developer</span>
                            </p>
                            <p>
                                <span class="profile-label">Date of Hire:</span>
                                <span class="profile-desc">08/15/2011</span>
                            </p>
                            <p>
                                <span class="profile-label">Birthday:</span>
                                <span class="profile-desc">01/02/1983</span>
                            </p>
                            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Edit Profile</button>
                        </div>
                 	</div>
                    
                    <div class="content-reminders">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                          
                            <h3 class="panel-title"><span class="glyphicon glyphicon-bell text-primary"></span> Reminders</h3>
                            
                          </div>
                          <div class="panel-body">
                          
                          <ul class="media-list">
                              <li class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object thumbnail" src="/assets/images/img_persona_jessie.png" alt="Profile image of Jessie">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <p>Jessie Johnson is celebrating a birthday today!</p>
                                </div>
                              </li>
                              <li class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object thumbnail" src="/assets/images/img_persona_justin.png" alt="Profile image for Justin">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <p>Justin Bass is celebrating a work anniversary today!</p>
                                </div>
                              </li>
                            </ul>
                                                      
                          </div>
                        </div>
					</div>
                    
                </div>
            </div>
        </div>
        
    </section>