<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8"> 
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>HelloHero</title>

<meta content="HelloHero" property="og:title">
<meta content="" name="description">
<meta content="" property="og:description">

<!-- Fonts --> 
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300italic,300,400italic,600,700,600italic,700italic,900,900italic" rel="stylesheet" type="text/css">

<!-- CSS --> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="_inc/css/hello-hero.css" rel="stylesheet" >

<!-- Favorite Icon --> 
<link href="_inc/img/favicon.ico" rel="shortcut icon">

<!-- JavaScripts -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script> 

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>

<!--[if lte IE 8]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>


<div class="wrapper page-user">

    <!-- Navigation --> 
    <nav>
        <div class="container-fluid">
                
            <div class="navbar navbar-inverse">
                <span class="sr-only">Navigation</span>
                
                
                <!-- Application Navigation -->
                <div id="nav_Site" class="pull-left">
                    <ul class="nav nav-pills nav-lvl1">
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Visit the Directory"><span class="glyphicon glyphicon-th-list"></span> <span class="nav-text">Directory</span></a>
                        </li>
                        
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Visit Wall of Heroes"><span class="glyphicon glyphicon-th-large"></span> <span class="nav-text">Wall of Heroes</span></a>
                        </li>
                        
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="See My Recognition"><span class="glyphicon glyphicon-eye-open"></span> <span class="nav-text">My Recognition</span></a>
                        </li>
                        
                        <li>
                            <a href="recognize.html" class="navbar-brand" data-toggle="tooltip" data-placement="bottom" title="Recognize a Hero"><span class="glyphicon glyphicon-star"></span> <span class="nav-text">Recognize a Hero</span></a>
                        </li>
                    </ul>
                </div>
                <!-- // End Application Navigation -->
                
                               
                <!-- User Navigation -->
                <div id="nav_User" class="pull-right">
                    <ul class="nav nav-pills nav-lvl1">
                        <li>
                            <a href="profile.html" data-toggle="tooltip" data-placement="bottom" title="Visit My Profile"><span class="glyphicon glyphicon-user"></span>  <span class="nav-text">Profile</span></a>
                        </li>
                        
                        <li>
                            <a href="admin_report.html" data-toggle="tooltip" data-placement="bottom" title="Visit My Admin"><span class="glyphicon glyphicon-cog"></span>  <span class="nav-text">Admin</span></a>
                        </li>
                        <li>
                            <a href="index.html" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Sign Off"><span class="glyphicon glyphicon-off"></span> <span class="nav-text">Log Out</span></a>
                        </li>
                        
                    </ul>
                </div>
                <!-- // End User Navigation -->
                
            </div>
            
        </div>
    </nav>
    <!-- // End Navigation -->

<main>

	<!-- Section for Content -->
	<section class="content-main">
    
    	<div class="container">
            <h2>Recognize a Hero</h2>
                <p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet dui quis risus accumsan viverra. Praesent gravida eget arcu ut pretium. Nulla eu turpis nec sem sollicitudin ullamcorper. Fusce sodales metus ac volutpat ultrices. Aenean sed pretium turpis. Nullam id arcu sit amet ligula vulputate dictum. Nam quis nunc libero.</p>

<h3>Duis sollicitudin risus ipsum, eu euismod augue facilisis vel</h3>

<p>Phasellus purus massa, cursus quis nisl eu, eleifend suscipit tellus. Morbi suscipit id eros sed imperdiet. Morbi accumsan neque sit amet nibh facilisis congue. Sed sagittis scelerisque accumsan. Praesent rhoncus dui ac fringilla fringilla. Cras orci nibh, ultricies interdum faucibus nec, dictum vitae nisi. Vivamus eros lacus, dapibus ut sodales quis, mattis nec lorem. Donec est nisi, elementum at orci at, lobortis convallis justo. Aliquam a pellentesque nulla. Pellentesque mauris dolor, pharetra et ex at, sodales ullamcorper orci. Mauris vitae faucibus libero. Mauris tristique magna eros, nec placerat nisi iaculis et. Vivamus laoreet gravida lorem, sed maximus erat imperdiet eu.</p>

<h4>Aenean suscipit lobortis nisl eget consectetur.</h4>

<p>Cras interdum porttitor laoreet. Ut imperdiet pretium arcu ac porta. Suspendisse id facilisis ex. Curabitur quis odio ac diam iaculis mattis. Pellentesque vitae tincidunt purus, quis tincidunt tellus. Aenean a enim vitae est placerat dictum eu et elit. Suspendisse non odio est. Aliquam ornare tortor semper ligula eleifend sodales. Aliquam egestas consectetur arcu in porta. Vivamus iaculis nulla metus, sit amet blandit mauris vestibulum a. Duis et lacus consectetur mi dignissim lobortis. Morbi sapien orci, sollicitudin nec erat sit amet, vehicula dapibus risus.</p>

<p>Phasellus maximus ante in laoreet congue. Aliquam tincidunt lobortis elementum. Sed sagittis libero eu dolor iaculis efficitur. Integer bibendum odio at ligula pretium, eu aliquet purus tempor. Pellentesque laoreet eget neque at pharetra. Aliquam vel lacus mi. Proin tincidunt, lectus iaculis pretium rhoncus, augue elit ultricies metus, sit amet sollicitudin erat erat et lacus. Praesent at purus ut libero sollicitudin consequat ut nec ipsum. Sed vitae mauris eu justo aliquam accumsan sit amet id dolor. Integer eu erat eros. Nam dapibus volutpat maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam commodo, erat et facilisis ornare, mauris velit ultricies ipsum, ac tristique lacus lacus quis magna. Pellentesque hendrerit cursus neque non dignissim.</p>

<p>Nam at fermentum augue. Cras nec libero odio. Nunc facilisis fermentum enim, quis tempus elit ullamcorper sed. Ut ut molestie metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper iaculis porta. Nulla non tempus purus. Phasellus egestas ullamcorper urna. Phasellus ac nisl vel risus tincidunt mollis. Phasellus id varius nisl, cursus venenatis massa. </p>
        </div>
    </section>
    
	<!-- // End Section for Main Content -->
    
    
</main>

<footer>

        <p>Powered by the <a href="#" title="Visit the Inserso Team website">Inserso Team</a>.</p>

</footer>

</div>

</body>
</html>
