<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8"> 
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>HelloHero</title>

<meta content="HelloHero" property="og:title">
<meta content="" name="description">
<meta content="" property="og:description">

<!-- Fonts --> 
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300italic,300,400italic,600,700,600italic,700italic,900,900italic" rel="stylesheet" type="text/css">

<!-- CSS --> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="_inc/css/hello-hero.css" rel="stylesheet" >

<!-- Favorite Icon --> 
<link href="_inc/img/favicon.ico" rel="shortcut icon">

<!-- JavaScripts -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script> 

$(function () {
  $("[data-toggle="tooltip"]").tooltip()
})

</script>

<!--[if lte IE 8]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>


<div class="wrapper page-user">

    <!-- Navigation --> 
    <nav>
        <div class="container-fluid">
                
            <div class="navbar navbar-inverse">
                <span class="sr-only">Navigation</span>
                
                
                <!-- Application Navigation -->
                <div id="nav_Site" class="pull-left">
                    <ul class="nav nav-pills nav-lvl1">
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Visit the Directory"><span class="glyphicon glyphicon-th-list"></span> <span class="nav-text">Directory</span></a>
                        </li>
                        
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Visit Wall of Heroes"><span class="glyphicon glyphicon-th-large"></span> <span class="nav-text">Wall of Heroes</span></a>
                        </li>
                        
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="See My Recognition"><span class="glyphicon glyphicon-eye-open"></span> <span class="nav-text">My Recognition</span></a>
                        </li>
                        
                        <li>
                            <a href="recognize.html" class="navbar-brand" data-toggle="tooltip" data-placement="bottom" title="Recognize a Hero"><span class="glyphicon glyphicon-star"></span> <span class="nav-text">Recognize a Hero</span></a>
                        </li>
                    </ul>
                </div>
                <!-- // End Application Navigation -->
                
                               
                <!-- User Navigation -->
                <div id="nav_User" class="pull-right">
                    <ul class="nav nav-pills nav-lvl1">
                        <li>
                            <a href="profile.html" data-toggle="tooltip" data-placement="bottom" title="Visit My Profile"><span class="glyphicon glyphicon-user"></span>  <span class="nav-text">Profile</span></a>
                        </li>
                        
                        <li>
                            <a href="admin_report.html" data-toggle="tooltip" data-placement="bottom" title="Visit My Admin"><span class="glyphicon glyphicon-cog"></span>  <span class="nav-text">Admin</span></a>
                        </li>
                        <li>
                            <a href="index.html" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Sign Off"><span class="glyphicon glyphicon-off"></span> <span class="nav-text">Log Out</span></a>
                        </li>
                        
                    </ul>
                </div>
                <!-- // End User Navigation -->
                
            </div>
            
        </div>
    </nav>
    <!-- // End Navigation -->

<main>

	<!-- Section for Content -->
	<section class="content-main">
    
    	<div class="container">
        	<form class="form-recognize">
            	<h2><span class="glyphicon glyphicon-star pull-right"></span> Recognize a Hero</h2>
                <div class="well">
                    <div class="row">
                        
                        <div class="col-sm-6">
                            <div class="icn-circle icn-primary icn-number icn-sm pull-left">1</div>
                            <h3><label for="exampleSelectHero">Choose your hero</label></h3>
                        </div>
                        
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="input-group">
                            	<input type="text" class="form-control" id="exampleSelectHero" placeholder="Select a hero, or heroes, to recognize">
                                <div class="input-group-btn">
                                <button class="btn btn-default" type="button" aria-label="Add">
                                	<span class="glyphicon glyphicon-plus"></span><span class="sr-only">Add</span>
                                </button>
                                
                                </div>
                            </div>
                            
                          </div>
                          
                          <div class="form-group">
                          	<a href="#"><span class="label label-primary">Jessie Johnson <span class=" glyphicon glyphicon-remove"></span></span></a>
                          </div>
                          
                        </div>
                    
                    </div>
                </div>
               
                <div class="well">
                    <div class="row">
                        
                        <div class="col-sm-6">
                            <div class="icn-circle icn-primary icn-number icn-sm pull-left">2</div>
                            <h3><label>Choose the badge</label></h3>
                        </div>
                        
                        <div class="col-sm-6">
                          <div class="form-group">
                          	<div class="input-group">
                              <div class="hero-badge">
                                <button class="icn-circle icn-default icn-badge select">
                                    <img src="_inc/img/hero_badge_brilliant.png" alt="Hero badge for being brilliant." title="Hero badge for being brilliant.">
                                    <span class="icn-badge-text">Brilliant</span>
                                </button>
                              </div>
                              
                              
                              <div class="hero-badge">
                                <button class="icn-circle icn-default icn-badge">
                                    <img src="_inc/img/hero_badge_innovative.png" alt="Hero badge for being brilliant." title="Hero badge for being brilliant.">
                                    <span class="icn-badge-text">Innovative</span>
                                </button>
                              </div>
                              
                              
                              <div class="hero-badge">
                                <button class="icn-circle icn-default icn-badge">
                                    <img src="_inc/img/hero_badge_lifesaver.png" alt="Hero badge for being brilliant." title="Hero badge for being brilliant.">
                                    <span class="icn-badge-text">Lifesaver</span>
                                </button>
                              </div>
                              
                              
                              <div class="hero-badge">
                                <button type="button" class="icn-circle icn-default icn-badge" data-toggle="modal" data-target="#AddBadge">
                                    Add More
                                </button>
                                
                                
                              </div>
                              
                              
                          	</div>
                          
                        	<!-- Modal Pop Up for Add More Badge -->
                            <div class="modal fade" id="AddBadge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h2 class="modal-title" id="myModalLabel">Add badge</h2>
                                  </div>
                                  
                                  <div class="modal-body">
                                      
                                      <div class="form-group">
                                        <div class="input-group">
                                        
                                          <div class="hero-badge">
                                            <button class="icn-circle icn-default icn-badge select">
                                                <img src="_inc/img/hero_badge_brilliant.png" alt="Hero badge for being brilliant." title="Hero badge for being brilliant.">
                                                <span class="icn-badge-text">Brilliant</span>
                                            </button>
                                          </div>
                                          
                                          <div class="hero-badge">
                                            <button class="icn-circle icn-default icn-badge">
                                                <img src="_inc/img/hero_badge_innovative.png" alt="Hero badge for being brilliant." title="Hero badge for being brilliant.">
                                                <span class="icn-badge-text">Innovative</span>
                                            </button>
                                          </div>
                                          
                                          <div class="hero-badge">
                                            <button class="icn-circle icn-default icn-badge">
                                                <img src="_inc/img/hero_badge_lifesaver.png" alt="Hero badge for being brilliant." title="Hero badge for being brilliant.">
                                                <span class="icn-badge-text">Lifesaver</span>
                                            </button>
                                          </div>
                                          
                                          <div class="hero-badge">
                                            <button class="icn-circle icn-default icn-badge">
                                                <img src="_inc/img/hero_badge_exceptional.png" alt="Hero badge for being brilliant." title="Hero badge for being brilliant.">
                                                <span class="icn-badge-text">Exceptional</span>
                                            </button>
                                          </div>
                                          
                                          <div class="hero-badge">
                                            <button class="icn-circle icn-default icn-badge">
                                                <img src="_inc/img/hero_badge_committed.png" alt="Hero badge for being brilliant." title="Hero badge for being brilliant.">
                                                <span class="icn-badge-text">Committed</span>
                                            </button>
                                          </div>
                                          
                                          <div class="hero-badge">
                                            <button class="icn-circle icn-default icn-badge">
                                                <img src="_inc/img/hero_badge_skillful.png" alt="Hero badge for being brilliant." title="Hero badge for being brilliant.">
                                                <span class="icn-badge-text">Skillful</span>
                                            </button>
                                          </div>
                                          
                                          <div class="hero-badge">
                                            <button class="icn-circle icn-default icn-badge">
                                                <img src="_inc/img/hero_badge_resourceful.png" alt="Hero badge for being brilliant." title="Hero badge for being brilliant.">
                                                <span class="icn-badge-text">Resourceful</span>
                                            </button>
                                          </div>
                                          
                                          <div class="hero-badge">
                                            <button class="icn-circle icn-default icn-badge">
                                                <img src="_inc/img/hero_badge_timesaver.png" alt="Hero badge for being brilliant." title="Hero badge for being brilliant.">
                                                <span class="icn-badge-text">Timesaver</span>
                                            </button>
                                          </div>
                                          
                                          
                                        </div>
                                      </div>
                                      
                                  </div>
                                  
                                </div>
                              </div>
                            </div>
                            <!-- End Modal Pop Up for Add More Badge -->
                            
                            
                          </div>
                    	</div>
                    </div>
                
                </div>
                
                
                <div class="well">
                    <div class="row">
                        
                        <div class="col-sm-6">
                            <div class="icn-circle icn-primary icn-number icn-sm pull-left">3</div>
                            <h3><label for="exampleRecognizeMessage">Tell them why you're recognizing them</label></h3>
                        </div>
                        
                        <div class="col-xs-6">
                          <div class="form-group">
                            <textarea id="exampleRecognizeMessage" class="form-control" rows="2" placeholder="Tell your hero why you are recognizing them"></textarea>
                          </div>
                        </div>
                    
                    </div>
                </div>
                
                <div class="well">
                    <div class="row">
                        
                        <div class="col-sm-6">
                            <div class="icn-circle icn-primary icn-number icn-sm pull-left">4</div>
                            <h3>Send recognition</h3>
                        </div>
                        
                        <div class="col-sm-6 text-right">
                          <a href="#"><small>Clear All Fields</small></a> <button class="btn btn-default btn-lg" type="submit">Submit</button>
                          
                        </div>
                    
                    </div>
                </div>
                	
			</form>
        </div>
    </section>
    
	<!-- // End Section for Main Content -->
    
    
</main>

<footer>

        <p>Powered by the <a href="#" title="Visit the Inserso Team website">Inserso Team</a>.</p>

</footer>

</div>

</body>
</html>
